/**
 * Project Card Component
 * Project card and related styles
 */

@layer utilities {
  .u-project-card-container {
    display: flex;
  }

  .u-project-card {
    display: flex;
    width: 100%;
    position: relative;
    padding: var(--row-gap) var(--col-gap);
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--row-gap) * 1);
    max-width: 28em;
    border: 1px solid var(--color-border);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
  }
}
